<section id="election">
  <div class="container-profile">
    <div>
      <h3 class="text-center">{{model.institucionData.nombre}}</h3>
    </div>

    <div class="profile-candidate">
      <div class="row">
        <div class="col-md-3">
          <div id="candidate-img-profile">
            {{#if model.institucionData.fotoInstitucion}}
              <img
                src="{{model.institucionData.fotoInstitucion}}"
                alt="{{model.institucionData.nombre}}"
                border="0"
                class="img-responsive"
              >
            {{/if}}
          </div>
        </div>

        <div class="col-md-5">
          <table class="table">
            <tbody>
              {{#each-in model.informacionGeneral as |key item|}}
                <tr>
                  <td>
                    {{#if item.label}}<span>{{{item.label}}}</span>{{/if}}
                    {{{item.value}}}
                  </td>
                </tr>
              {{/each-in}}
            </tbody>
          </table>
        </div>

        <div class="col-md-4 social-side">
          {{#if model.institucionData.fotoInstitucion}}
            <div class="logo-partido">
              <img
                src="{{model.institucionData.logoInstitucion}}"
                alt="{{model.institucionData.nombre}}"
              >
            </div>
          {{/if}}

          <ul class="list-unstyled">

            {{#if model.institucionData.tw}}
              <li>
                <i class="fa fa-twitter"></i>
                <a
                  href="https://twitter.com/{{model.institucionData.tw}}"
                  class="social-link-candidate"
                  target="_blank">@{{model.institucionData.tw}}
                </a>
              </li>
            {{/if}}

            {{#if model.institucionData.fb}}
              <li>
                <i class="fa fa-facebook-official"></i>
                <a
                  href="{{model.institucionData.fb}}"
                  class="social-link-candidate"
                  target="_blank"
                >
                  {{model.institucionData.nombre}}
                </a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="questionary">
    <div class="row">
      <div class="col-md-6">
        <h3></h3>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading text-center">Misión y visión</div>
      <div class="panel-body">
        {{{ model.institucionData.misionVision}}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading text-center">Autoridades</div>
      <div class="panel-body">
        {{{ model.institucionData.autoridades}}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading text-center">Descripción</div>
      <div class="panel-body">
        {{{ model.institucionData.presupuesto}}}
      </div>
    </div>
  </div>

  {{disqus-comments identifier='institucion'}}
</section>
