<div class="container-profile">
  <div>
    <h3 class="text-center">{{model.perfil.nombre}}</h3>
  </div>

  <div class="profile-candidate">
    <div class="row">
      <div class="col-md-3">
        <div id="candidate-img-profile">
          <img
            src="{{model.perfil.fotoPerfil}}"
            alt="{{model.perfil.nombre}}"
            border="0"
            class="img-responsive center-block"
          >
        </div>

        <ul class="list-unstyled text-center">
          {{#if model.perfil.tw}}
            <li>
              <i class="fa fa-twitter"></i>
              <a
                href="https://twitter.com/{{model.perfil.tw}}"
                class="social-link-candidate"
                target="_blank">@{{model.perfil.tw}}
              </a>
            </li>
          {{/if}}

          {{#if model.perfil.fb}}
            <li>
              <i class="fa fa-facebook-official"></i>
              <a
                href="{{model.perfil.fb}}"
                class="social-link-candidate"
                target="_blank"
              >
                {{model.perfil.nombre}}
              </a>
            </li>
          {{/if}}
        </ul>
      </div>

      <div class="col-md-5">
        <table class="table">
          <tbody>
            {{#each-in model.perfil.informacionGeneral as |key item|}}
              <tr>
                <td>
                  {{#if item.label}}<span>{{{item.label}}}</span>{{/if}}
                  {{{item.value}}}
                </td>
              </tr>
            {{/each-in}}
          </tbody>
        </table>
      </div>

      <div class="col-md-4 social-side">
        {{#if documentosDisponibles}}
          <h3 class="text-center" style="padding-top: 0px;">Datos abiertos</h3>
        {{/if}}

        {{#each documentosDisponibles as |documento|}}
          <p>
            <a href="{{documento.urlDocumento}}" class="btn btn-{{documento.cssClasses}} width-full" target="_blank">
              {{documento.nombreDocumento}}
            </a>
          </p>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<div class="questionary">
  <div class="row">
    <div class="col-md-6">
      <h3></h3>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Biografía</div>
    <div class="panel-body">
      {{{ model.perfil.biografia }}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Experiencia Profesional</div>
    <div class="panel-body">
      {{{ model.perfil.experienciaProfesional }}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Experiencia en Derechos Humanos</div>
    <div class="panel-body">
      {{{ model.perfil.experienciaEnDH }}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Tabla gradacion</div>
    <div class="panel-body">
      {{#each datosTablaGradacion as |dato|}}
        <p>
          <strong>{{dato.aspecto}}</strong>
          {{#if (is-numeric dato.puntaje)}}
            - Puntaje obtenido: {{dato.puntaje}}
          {{else}}
            {{dato.puntaje}}
          {{/if}}
        </p>
      {{/each}}
      <p>
        <strong>Total puntaje</strong> {{totalPuntajeGradacion}}
      </p>
    </div>
  </div>
</div>

{{disqus-comments identifier=model.perfil.disqusIdentifier}}
